@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas{
    height: 500px;
}
::-moz-selection {
    background:rgba(34, 170, 153, 0.32) 0%;
    color: #000;
}

::selection {
    background: rgba(34, 170, 153, 0.32) 0%;
    color: #000;
}

html {
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.blob-1, .blob-2, .blob-3 {
}
.blob-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(204, 221, 51, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
.blob-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(34, 170, 153, 0.32) 0%, rgba(255, 255, 255, 0) 100%);
}
.blob-3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(85, 204, 255, 0.25) 0%, rgb(57 44 44 / 0%) 100%);
}
/* class="bg-transparent fixed top-0 left-0 right-0 z-50"  */
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color .25s ease-in-out;
    &.active {
        background: rgba( 255, 255, 255, 0.95 );
        box-shadow: 0 -1px 24px 0 rgb(1 1 4 / 10%);
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
    }
}
